/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  header {
    background-color: var(--main-bg-color);
    color: var(--second-bg-color);
  }

  header h1 {
    text-align: center;
    font-size: 3rem;
  }
  /* Navbar */
  nav {
    padding: 2rem !important;
  }

  nav i {
    font-size: 1.2rem;
    padding-right: 0.8rem;
    color: var(--second-bg-color);
  }

  nav i:hover {
    color: var(--hover-items);
    font-size: 1.33rem;
  }
}
